streamlit 
pandas 
numpy 
joblib 
scikit-learn 
google-generativeai 
Flask 
Authlib 
bcrypt 
cryptography 
python-dotenv 
mysql-connector-python 
requests 
click 
colorama 
packaging 
Werkzeug 
Jinja2 
MarkupSafe 
itsdangerous 
